/*reset de la pag*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.container{
    text-align: center;
    /* outline: 1px solid peru; */
    height: 750px;
    position: relative;
    width: 58%;
    margin-top:30px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 70px;
}

#select{
    /* outline: 1px solid peru; */
    position: relative;
    left: -350px;
    top: 25px;
}

figure{
    position: relative;
    /* outline: 1px solid black; */
    height: 200px;
    width: 200px;
    float: left;
    margin: 0px 0px 16px 30px;
    margin-top: 100px;
    /* padding-left: 70px; */
}

.animal{
    height: 200px;
    width: 200px;
}

img[alt="koala"]{
    height: 200px;
    width: 200px;
}

.white-black{
    filter: grayscale(100%);
}

.sepia{
    filter: sepia(60%);
}

.negative-colors{
    filter: invert(.8);
}

