* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.board {
    margin: 100px auto;
    /*para que no haya margenes entre celdas*/
    border-collapse: collapse;
}

.board td {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    font-size: 16px;
}

.board td:hover {
    background-color: gray;
}